.document-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-field {
    width: 600px;
    height: 50vh;
    @media (max-width: 600px) {
        width: 90vw;
    }
}

.ql-toolbar.ql-snow {
    border-radius: 10px;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.document-title {
    margin-bottom: 20px;
}
.document-button {
    margin-right: 10px !important;
    width: 100px;
}

.arrow-back-documentItem {
    background-color: #3e50b4;
    border-radius: 50%;
    color: white;
    font-size: 35px !important;
    margin: 10px 0 0 20px;
    cursor: pointer;
}

.documents__item-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    &:last-child {
        margin-right: 0;
    }
}

.block-mount {
    animation: blockMount ease-in .3s;
}

@keyframes blockMount {
    0% {opacity: 0; transform: translate(0, 20px);}
    100% {opacity: 1; transform: translate(0, 0);}
}